.contact {
    background-color: white;
    padding: 8rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.contact__container {
  max-width: var(--size-container);
  width: 100%;
}
.contact__icons ul {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.contact__icons ul li {
  text-align: center;
  list-style: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
}
.contact__icons ul li .contact__info strong {
  margin: 0;
  margin-top: 1rem;
}
.contact__icons ul li .contact__info p {
  margin: 0;
  color: var(--text-color);
}


@media screen and (min-width: 900px) {
  .contact__icons ul {
    padding-top: 4rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5rem;
  }
  .contact__icons ul li {
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    gap: 1.5rem;
  }
}